@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* hero section style  */
.hero-content>h1{
    line-height: 5rem;
}

/* latest section style  */
.card-1{
    min-height: 206px;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-bloom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.card-2{
    min-height: 206px;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-ana.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.card-3{
    min-height: 206px;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-zabo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.subscribe-container{
    height: 533px;
    background: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* .subscribe-container>div:first-child{
    width: 100%;
} */

.social-media{
    height: 40px;
}


@media screen and (max-width:640px) {
    .hero-content>h1{
    line-height: 2rem;
}
.subscribe-container{
    height: 275px;
}
.footer-section div{
    margin-bottom: 2rem;
    padding: 0 1rem;
}
}